body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: black; */
}
.wrapper{
margin-top: 240px;
}

.buttons{
display: flex;
justify-content: center;
}
.resultContainer{
 text-align: center;
 font-size: 35px;
}

button{
width: 90px;
height: 66px;
border-radius: 10px;
font-size: 40px;
margin: 10px;
}